{% extends "base.jinja" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="title p-2 h2">Service</div>
        <div class="col p-2">
            <label>
                <select class="form-select service">
                    <option selected>Select Service</option>
                    {% for uuid, service in service_list.items() %}
                    <option value="{{ uuid|safe }}">{{ service|safe }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="button" class="btn btn-danger" id="reset">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="title p-2 h2">ARN Details</div>
        <div class="col p-2 table-responsive-lg arn-details-table-container"></div>
    </div>
    <div class="row">
        <div class="title p-2 h2">Action Prefixes</div>
        <div class="col" id="action-prefix"></div>
    </div>
    <div class="row">
        <div class="title p-2 h2">Action Details</div>
        <div class="col table-responsive-lg actions-table-container"></div>
    </div>
</div>
<script src="{{ url_for('static', path='/js/ui.js') }}"></script>
{% endblock %}